# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store

# IDE files
.vscode/
.idea/

# Runtime data
pids
*.pid
*.seed

# Optional npm cache directory
.npm/

# Coverage reports
coverage/

# System files
Thumbs.db
